body
{
    background-image: url('https://i.imgur.com/QfpjUYR.jpeg');
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
}

#box {
    width: 80vw;
    height: auto;
    margin: 10vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #box img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  @keyframes spin-fancy {
    0% {
      transform: rotate(0deg);
      animation-timing-function: ease-in;
    }
    20% {
      transform: rotate(30deg);
    }
    50% {
      transform: rotate(3600deg);
      animation-timing-function: ease-out;
    }
    
  }
  
  img {
    animation: spin-fancy 5s infinite;
  }
  
